.App {
  text-align: center;
  background-image: url("image/659ec80c18a11c51821a9a47e38ea902.png"), linear-gradient(to right, rgba(4, 2, 22, 0.979), rgb(0, 0, 0));
  background-repeat: no-repeat;
  background-position: bottom 0px right 0px;
  background-size: 50%, 100%;
  background-attachment: fixed;
  min-height: 100vh;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-text-header {

  font-size: calc(25px + 2vmin);
  color: white;
  margin-bottom: 5px;
}

.App-text-subheader {

  font-size: calc(10px + 2vmin);
  color: white;
}

.App-text-subheader2 {

  font-size: calc(8px + 2vmin);
  color: white;
  margin-top: 5px;
}

.subtitle-box {
  display: flex;
  flex-direction: column;
}

.App-text-contents1 {

  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
  justify-content: flex-start;
  font-size: calc(5px + 2vmin);
  text-align: left;
  color: white;
  width: 120vh;
  background-image: linear-gradient(to right, rgba(11, 34, 243, 0.158), rgba(92, 107, 243, 0));
}

.App-text-contents2 {

  display: flex;
  height: 100%;
  flex-direction: column;
  align-self: flex-end;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  text-align: right;
  color: white;
  background-image: linear-gradient(to right, rgba(11, 34, 243, 0.041), rgba(92, 107, 243, 0.233));
  margin-top: 20px;
  width: 100vh;
}

.App-contents-text {
  margin: 10px;
}


.App-text-point {
  display: flex;
  flex-direction: column;
  justify-content: flex-start
}

.check-box {
  width: 50%;
  display: flex;
  flex-direction: column;

}


.input-box {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 15px;
}

.check-text-box {
  background-color: rgba(50, 51, 61, 0.432);
  margin: 10px 50px 10px 50px;
  color: white;
}

.check-box-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 15px;
}

.submit-button {
  background-color: #3d47c7;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  clip-path: polygon(0 15.00px, 15.00px 0, 100% 0, 100% calc(100% - 15.00px), calc(100% - 15.00px) 100%, 0 100%);

}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-size: 8px;
}

.papalogo {}

.app-logo {
  height: 75px;
}

.socialicon {
  height: 25px;
  padding: 25px 5px 75px 5px;
}

.popup-heading {
  padding-right: 15px;
  padding-top: 30px;
  font-size: 25px;
}

.popup-content {
  /* font-family: Inter; */
  font-size: 18px;
  display: flex;
  padding: 0px 25px 0px 20px;
  flex-direction: column;
}

.TG-logo {
  padding-right: 15px;
}