.check-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-box {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 15px;
}

.check-text-box {
  background-color: rgba(50, 51, 61, 0.432);
  margin: 10px 50px 10px 50px;
}

.check-box-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 15px;
  margin: 0px 20px 0px 20px;
  width: 500px;
}

.link:link {
  text-decoration: none;
  color: #fff;
}

.link:visited {
  text-decoration: none;
  color: #fff;
}